.react-datepicker {
	position: absolute;
	z-index: 10;
}

.react-datepicker__triangle {
	display: none; /* Nascondi il triangolo del calendario */
}

@media (max-width: 640px) {
	.react-datepicker {
		left: 0 !important; /* Allinea il calendario a sinistra */
		right: 0 !important; /* Allinea il calendario a destra */
		margin: auto; /* Centra il calendario */
	}
}
